@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'poppins';
  src: url('assets/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 1000;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-500';
  src: url('assets/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-1000';
  src: url('assets/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 1000;
  font-style: normal;
}
